.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .playfair-display {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

  body, .about-me, .pic-with-header, .about-me-header, .about-me-description, picture, .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic-with-header {
    position: relative;
    display: inline-block;
  }

  body:before {
    margin: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #397367;
    transform: rotate(-10deg) translateY(-70%) translateX(-25%);
    width: 200vw;
    z-index: -1;
  }

  .pic-with-header img {
    max-width:90vw;
    display: block;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair",serif;
  }

  br {
    margin: 0px;
  }

  h1 {
    position: absolute;
    font-size: 90px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: left;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-60%,-20%);
    color: white;
 }

 h2 {
  font-size: 50px;
  margin: 10px;
 }

 p {
  text-align: center;
  margin: 5px 20px;
 }

 .social-media-line img {
  margin: 5px 10px;
 }

 .my-work {
  margin-top: 50px;
  text-align: center;
  width: 100%;
 }

 .screenshot {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #35393C;
  text-align: center;
 }

 h4 {
  margin: 0px;
  font-size: 20px;
}

.project-header {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.project-section, .project-description {
  width: 100%;
  min-height: 50px;
}

.project-description p {
  text-align: left;
}

.portfolio {
  margin: 20px;
  border: 1px solid grey;
  box-shadow: 1px 2px 2px hsl(0deg 0% 0%/0.47);
  border-radius: 5px;
}

.portfolio-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

