  body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    overflow-x: hidden;
  }

  body, .about-me, .about-me-header, .about-me-description, picture, .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body:before {
    margin: 0;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #397367;
    transform: rotate(-10deg) translateY(-80%) translateX(-25%);
    width: 200vw;
    z-index: -1;
  }

  .about-me-header img {
    position: relative;
    display: block;
    max-width: 375px;
    object-fit: fill;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair",serif;
  }

  br {
    margin: 0px;
  }

  h1 {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: left;
    z-index: 3;
    position: absolute;
    transform: translate(0%,300%);
    color: white;
    background-color:	hsla(206, 6%, 22%, 10%);
 }

 h2 {
  font-size: 40px;
  margin: 10px;
 }

 p {
  text-align: center;
  margin: 5px 20px;
 }

 .social-media-line img {
  margin: 5px 10px;
 }

 .my-work {
  margin-top: 20px;
  text-align: center;
  width: 100%;
 }

 .screenshot {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#35393C;
  background-color: #63CCCA;
  text-align: center;
 }

 h4 {
  margin: 0px;
  font-size: 20px;
}

.project-header {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.project-section, .project-description {
  width: 100%;
  min-height: 50px;
}

.project-description p {
  text-align: left;
}

.portfolio {
  margin: 20px;
  border: 1px solid grey;
  box-shadow: 1px 2px 2px hsl(0deg 0% 0%/0.47);
  border-radius: 5px;
}

.portfolio-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.contact-aside {
  display: flex;
  flex-direction: column;
}


.contact-aside h2 {
  text-align: center;
}

.contact-aside p {
  text-align: left;
}

.contact-info {
  background-color: #397367;
  color: white;
  width: 100%;
}

.social-media-line {
  display: flex;
  align-self: center;
}


.telephone-line, .email-line {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 499px) {
  .contact-aside .telephone-line img {
    display: none;
  }
  .contact-aside .email-line img {
    display: none;
  }
  .telephone-line, .email-line {
    margin: 2px 15px;
  }
  .about-me-header-fullsize {
    display: none;
  }
  .contact-info img {
    max-width: 100%;
    object-fit: contain;
  }
}

@media (min-width: 500px) {

 .about-me-header-fullsize .social-media-line {
    display: none;
  }
  .about-me-description {
    margin: 100px 100px 20px 100px;
    display: block;
    background-color: white;
    border: 1px solid grey;
    box-shadow: 1px 2px 2px hsl(0deg 0% 0%/0.47);
  }  

  .about-me-description h2 {
    margin-top: 50px;
    margin-right: 20px;
  }

  .about-me-description p {
    text-align: left;
    margin-bottom: 50px;
  }

  .about-me-header-fullsize img {
    position: relative;
    float: left;  
    margin-left: 50px;
    margin-right: 20px;
  }
  h1 {
    text-align: right;
    z-index: 3;
    position: absolute;
    transform: translate(100%,10%);
    color: white;
}

  .about-me-header {
    display: none;
  }

  .about-me-header-fullsize img {
    max-width: 375px;
    object-fit: fill;
    margin-top: 10px;
  }

  .about-me-header-fullsize h2 {
    text-align: center;
  }

  .contact-info img {
    max-width: 40vw;
    float: right;
    margin: 20px;
  }

  .telephone-line img {
    margin: 5px 20px;
  }

  .email-line img {
    margin: 5px 20px;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-aside .social-media-line {
    align-self: baseline;
  }

  .contact-aside h2 {
    margin-left: 20px;
    align-self: baseline;
  }

  .my-work h2 {
    text-align: left;
    margin-left: 20px;
  }
}

@media (min-width: 1000px){
  .contact-info img {
    max-height: 400px;
  }
  .contact-info {
    justify-content: center;
  }
}